<% if flash[:success] %>
<div class="alert alert-success">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Success!</strong> <%= flash[:success] %>
</div>
<% end %>
<h1>Welcome Aboard <%= session[:nickname] %></h1> 
<% if @posts_cursor.count == 0 %>
    <p>Looks like you have not added any posts!.<a href=<%= "/"+session[:nickname]+"/new" %> >Click here</a>
    to get started</p> <!-- change the new post url -->
<% else %>
    <div class="posts" style="margin-top: 20px">
    <% @posts_cursor.each do |post| %>
        <div class="post">
            <h4><a href="<%= get_post_permalink(post) %>"><%= post["title"] %></a></h4>
            <p><%= post["content"] %></p>
            <hr>
        </div>
    <% end %>
    <a class="btn btn-success" href=<%= "/"+session[:nickname]+"/new" %>>Add Post</a>
    </div>
<% end %>
